/* 
Fondo titulos
font-family: 'Fredoka One', cursive;

Fondo Texto
font-family: 'Archivo', sans-serif;

 */

body{
    font-family: 'Fredoka One', cursive;
}

/* HEADER */
header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    height: 37rem;
}

video{
    width: 100%;
    height: auto;
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}

h1{
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color:#fff;
    margin-bottom: 30px;
}

h1::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.575);
}




.MiBanner{
    display: flex;
    width: 100%;
    height: 37rem;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}



.MiBanner > .portada{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.MiBanner > .portada > .MyPortadaDiv{
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.521);
    position: relative;
    
}

.imagen-port {
    width: 80%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(12, 11, 11, 0.6) ;
    border-radius: 20px;
    z-index: 10;
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-image: linear-gradient(to right, hsla(0, 0%, 26%, 0.493) 0%, hsla(0, 0%, 0%, 0.705) 100%);
    transition: transform .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img {
    width: 5rem;
    margin-bottom: 1rem;
    cursor:pointer;
}



.hover-galeria p {
    color:#fff;
    font-size:2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}








.MiBanner > .textBanner{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.MiBanner > .textBanner> h1{
    font-size: 6rem;
    color: #fff;
    margin-bottom: 1rem;
}

.MiBanner > .textBanner > h2{
    font-size: 1.7rem;
    color: #fff;
    width: 80%;
    margin-top: .5rem;
    font-family: 'Archivo', sans-serif;
    text-align: justify;
}